<!DOCTYPE html>

<head>

    <style>
h1,p{
    color: #ffffff;
    text-align: center;
}
body{
    background-color: black;
}
div{
    width: 500px;
}

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
</style>

<body>

    <h1>A Silent Voice</h1>
    <p>A Silent Voice is an amazing film that isn't afraid to discuss topics that are taboo in other cultures, including bullying, depression, anxiety and suicide. While those who have experienced any one of these may find this to be more relatable and compelling, this is a film that anyone can watch and love.</p>
</body>

</head>