ul{
    list-style-type: none;
    margin: 0;
    padding: 0;  
    display: block;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none; 
    background-color: darkgray;
} 

ul li{
    display: inline;
}
h2{
    display: inline;
}
ul li a:hover {
    color: rgb(255, 255, 255); 
} 