<!DOCTYPE html>

<head>

    <style>
h1,p{
    color: #ffffff;
    text-align: center;
}
body{
    background-color: black;
}
div{
    width: 500px;
}

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
</style>

<body>

    <h1>Spirited Away</h1>
    <p>Colourful, imaginative, interesting, and emotional. Spirited Away is a film you'll want to see time and time again. Buy it. As the rest of the Western world was amazed by the throngs of CGI animation, and the inside Disney jokes, Japanese audiences were given a chance to see what real animation was like.</p>
</body>

</head>